/*
In order to show ImpressPages widgets well, we use default ipContent.css.
*/

@import '../../../Ip/Internal/Core/assets/ipContent/ipContent.css';

/*
If you want to override widget styles, do it bellow.
*/


/**
 * ImpressPages CMS theme: Scrolling
 *
 * Styles file for widgets, system modules and content.
 *
 * @package ImpressPages
 */

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.ipBlock{
    border-top: #1d2d48 solid 8px;
    font-family: Georgia, serif;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.ipWidget h1{
    color: #1d2d48;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight:800;
    line-height: 100%;
    margin: 26px 0px 5px 0px;
    text-align: center;
    text-transform:uppercase;
}

.ipWidget h2{
    color: #1d2d48;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight:100;
    text-align: center;
    line-height: 100%;
}

.ipWidget {
    margin: 0;
    zoom: 1;
    margin-bottom: 25px;
}



.ipmErrorMessage {
    background-color: #C00;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px 2px;
}
